# --- CLion / CMake Build Files ---

cmake-build-*/
build/
bin/
lib/

# --- IDE Settings ---
.idea/
.vs/
.run/

# --- Compiled Binaries ---
*.exe
*.dll
*.so
*.dylib
*.pdb
*.obj
*.lib
*.a

# --- OS Files ---
.DS_Store
Thumbs.db

